<app-breadcrumb [listBreadCrumb]="breadcrumb"></app-breadcrumb>
<div class="header">

</div>
<div class="row">
    <div class="col-xl-3 col-md-6 custom-card">
        <div class='card card-stats'>
            <div class="card-body">
                <div class="card-body--top">
                    <h4>Booking tour</h4>
                    <span>{{listOfDataTotal[0]?.total}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 custom-card">
        <div class='card card-stats'>
            <div class="card-body">
                <div class="card-body--top">
                    <h4>Booking khách sạn</h4>
                    <span>{{listOfDataTotal[1]?.total}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 custom-card">
        <div class='card card-stats'>
            <div class="card-body">
                <div class="card-body--top">
                    <h4>Tour điều hành</h4>
                    <span>{{listOfDataTotal[2]?.total}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 custom-card">
        <div class='card card-stats'>
            <div class="card-body">
                <div class="card-body--top">
                    <h4>Booking vé máy bay</h4>
                    <span>33</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">

            <div class="body">
                <div class="chart-container">
                    <canvas  id="MyChartHotel" >{{ chartHotel }}</canvas>
              </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <h2 class="header">Booking khách sạn</h2>
            <div class="body">
                <div class="chart-container">
                    <canvas  id="MyChartRoom" >{{ chartRoom }}</canvas>
              </div>
            </div>
        </div>
        <!-- <div class="card">
            <h2 class="header">Booking vé máy bay</h2>
            <div class="body">
                <div class="chart-container">
                    <canvas  id="MyChartFlight" >{{ chartFlight }}</canvas>
              </div>
            </div>
        </div> -->
    </div>
</div>
<div class="row">
    <div class="card">
        <h2 class="header">Booking gần nhất</h2>
        <div class="table body">
            <nz-table nzHideOnSinglePage="true" nzBordered nzSize="middle" #basicTable [nzData]="listOfDataTour">
                <thead (nzSortOrderChange)="sortChange($event)">
                    <tr>
                        <th>STT</th>
                        <th [nzSortFn]="true">Mã Code</th>
                        <th [nzSortFn]="true">Tên khách hàng</th>
                        <th [nzSortFn]="true">Email</th>
                        <th [nzSortFn]="true">Số điện thoại</th>
                        <th [nzSortFn]="true">Số tiền đã thanh toán</th>
                        <th [nzSortFn]="true">Phòng</th>
                        <th [nzSortFn]="true">Loại phòng</th>
                        <th [nzSortFn]="true">Tên tour</th>
                        <th [nzSortFn]="true">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data; let i = index">
                        <td>{{ pageSize * pageIndex + i + 1 }}</td>
                        <td>{{ data?.code }}</td>
                        <td>{{ data?.customer?.fullName }}</td>
                        <td>{{ data?.customer?.email }}</td>
                        <td>{{ data?.customer?.phone }} m2</td>
                        <td>{{ data?.paymentAmount | format }} VNĐ</td>
                        <td>{{ data?.room?.name }}</td>
                        <td>{{ data?.room?.roomTypes.name }}</td>
                        <td>{{ data?.tour?.name }}</td>
                        <td>
                            <span class="deposit" *ngIf="data?.paymentStatus == 0">Không thành công</span>
                            <span class="live" *ngIf="data?.paymentStatus == 1">Thành công</span>
                            <span class="empty" *ngIf="data?.paymentStatus == 2">Đã hủy</span>
                            <span class="empty" *ngIf="data?.paymentStatus == 3">Đã hoàn</span>
                            <span class="empty" *ngIf="data?.paymentStatus == 4">Chờ xử lý</span>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>

<div class="row">
    <div class="card">
        <h2 class="header">Top 5 Khách hàng chi tiền nhiều nhất</h2>
        <div class="table body">
            <nz-table nzHideOnSinglePage="true" nzBordered nzSize="middle" #basicTable1 [nzData]="listOfDataCustomer">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th [nzSortFn]="true">Tên khách hàng</th>
                        <th [nzSortFn]="true">Email</th>
                        <th [nzSortFn]="true">Số điện thoại</th>
                        <th [nzSortFn]="true">Số tiền đã thanh toán</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable1.data; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ data?.fullName }}</td>
                        <td>{{ data?.email }}</td>
                        <td>{{ data?.phone }}</td>
                        <td>{{ data?.total | format }} VNĐ</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
