<app-breadcrumb [listBreadCrumb]="breadcrumb"></app-breadcrumb>
<form action="" [nzLayout]="'vertical'" [formGroup]="formGroup" class="form" nz-form>
    <div class="title-search">{{'saveHotel.title' | translate}}</div>
    <div class="content row">
        <div class="col col-md-8">
            <div class="row">
                <div class="col col-sm-6">
                    <nz-form-item>
                        <nz-form-label nzFor="name">{{'saveHotel.name' | translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-input-group [nzSuffix]="inputNameClear">
                                <input [disabled]="action == 'DETAIL'" nz-input formControlName="name" id="name" />
                                <ng-template #inputNameClear>
                                    <span
                                        nz-icon
                                        class="ant-input-clear-icon"
                                        nzTheme="fill"
                                        nzType="close-circle"
                                    ></span>
                                </ng-template>
                            </nz-input-group>
                        </nz-form-control>
                        <div *ngIf="this.formGroup.controls['name'].invalid && (this.formGroup.controls['name'].dirty || this.formGroup.controls['name'].touched)">
                            <div class="error" *ngIf="this.formGroup.controls['name'].hasError('required')">
                                {{'saveHotel.validate.name.required' | translate}}
                            </div>
                            <div class="error" *ngIf="this.formGroup.controls['name'].hasError('maxLength')">
                                {{'saveHotel.validate.name.maxLength' | translate}}
                            </div>
                        </div>
                    </nz-form-item>
                </div>
                <div class="col col-sm-6">
                    <nz-form-item>
                        <nz-form-label nzFor="acreage">{{'saveHotel.acreage' | translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-input-group [nzSuffix]="inputNameClear">
                                <input [disabled]="action == 'DETAIL'" nz-input formControlName="acreage" id="acreage" />
                                <ng-template #inputNameClear>
                                    <span
                                        nz-icon
                                        class="ant-input-clear-icon"
                                        nzTheme="fill"
                                        nzType="close-circle"
                                    ></span>
                                </ng-template>
                            </nz-input-group>
                        </nz-form-control>
                        <div *ngIf="this.formGroup.controls['acreage'].invalid && (this.formGroup.controls['acreage'].dirty || this.formGroup.controls['acreage'].touched)">
                            <div class="error" *ngIf="this.formGroup.controls['acreage'].hasError('required')">
                                {{'saveHotel.validate.acreage.required' | translate}}
                            </div>
                        </div>
                    </nz-form-item>
                </div>
                <div class="col col-sm-6">
                    <nz-form-item>
                        <nz-form-label nzFor="site">{{'saveHotel.site' | translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-select
                                [nzPlaceHolder]="'saveHotel.placeHolder' | translate"
                                formControlName="site"
                                nzAllowClear
                            >
                                <nz-option *ngFor="let item of listOfSite" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                            </nz-select>
                        </nz-form-control>
                        <div *ngIf="this.formGroup.controls['site'].invalid && (this.formGroup.controls['site'].dirty || this.formGroup.controls['site'].touched)">
                            <div class="error" *ngIf="this.formGroup.controls['site'].hasError('required')">
                                {{'saveHotel.validate.site.required' | translate}}
                            </div>
                        </div>
                    </nz-form-item>
                </div>
                <div class="col col-sm-6">
                    <nz-form-item>
                        <nz-form-label nzFor="phone">{{'saveHotel.phone' | translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-form-control>
                                <nz-input-group [nzSuffix]="inputNameClear">
                                    <input [disabled]="action == 'DETAIL'" nz-input formControlName="phone" id="phone" />
                                    <ng-template #inputNameClear>
                                        <span
                                            nz-icon
                                            class="ant-input-clear-icon"
                                            nzTheme="fill"
                                            nzType="close-circle"
                                        ></span>
                                    </ng-template>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-control>
                        <div *ngIf="this.formGroup.controls['phone'].invalid && (this.formGroup.controls['phone'].dirty || this.formGroup.controls['phone'].touched)">
                            <div class="error" *ngIf="this.formGroup.controls['phone'].hasError('required')">
                                {{'saveHotel.validate.phone.required' | translate}}
                            </div>
                        </div>
                        <div *ngIf="this.formGroup.controls['phone'].invalid && (this.formGroup.controls['phone'].dirty || this.formGroup.controls['phone'].touched)">
                          <div class="error" *ngIf="this.formGroup.controls['phone'].hasError('pattern')">
                              {{'saveHotel.validate.phone.pattern' | translate}}
                          </div>
                      </div>
                    </nz-form-item>
                </div>
                <div class="col col-sm-6">
                    <nz-form-item>
                        <nz-form-label nzFor="totalRoom">{{'saveHotel.totalRoom' | translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-form-control>
                                <nz-input-group [nzSuffix]="inputNameClear">
                                    <input [disabled]="action == 'DETAIL'" nz-input formControlName="totalRoom" id="totalRoom" />
                                    <ng-template #inputNameClear>
                                        <span
                                            nz-icon
                                            class="ant-input-clear-icon"
                                            nzTheme="fill"
                                            nzType="close-circle"
                                        ></span>
                                    </ng-template>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-control>
                        <div *ngIf="this.formGroup.controls['totalRoom'].invalid && (this.formGroup.controls['totalRoom'].dirty || this.formGroup.controls['totalRoom'].touched)">
                            <div class="error" *ngIf="this.formGroup.controls['totalRoom'].hasError('required')">
                                {{'saveHotel.validate.totalRoom.required' | translate}}
                            </div>
                        </div>
                    </nz-form-item>
                </div>
                <div class="col col-sm-6">
                    <nz-form-item>
                        <nz-form-label nzFor="email">{{'saveHotel.email' | translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-input-group [nzSuffix]="inputNameClear">
                                <input [disabled]="action == 'DETAIL'" nz-input formControlName="email" id="email" />
                                <ng-template #inputNameClear>
                                    <span
                                        nz-icon
                                        class="ant-input-clear-icon"
                                        nzTheme="fill"
                                        nzType="close-circle"
                                    ></span>
                                </ng-template>
                            </nz-input-group>
                        </nz-form-control>
                        <div *ngIf="this.formGroup.controls['email'].invalid && (this.formGroup.controls['email'].dirty || this.formGroup.controls['email'].touched)">
                            <div class="error" *ngIf="this.formGroup.controls['email'].hasError('required')">
                                {{'saveHotel.validate.email.required' | translate}}
                            </div>
                            <div class="error" *ngIf="this.formGroup.controls['email'].hasError('pattern')">
                              {{'saveHotel.validate.email.pattern' | translate}}
                          </div>
                            <div class="error" *ngIf="this.formGroup.controls['email'].hasError('maxLength')">
                                {{'saveHotel.validate.email.maxLength' | translate}}
                            </div>
                        </div>
                    </nz-form-item>
                </div>
                <div class="col col-sm-6">
                    <nz-form-item>
                        <nz-form-label nzFor="description">{{'saveHotel.description' | translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-input-group [nzSuffix]="inputNameClear">
                                <input [disabled]="action == 'DETAIL'" nz-input formControlName="description" id="description" />
                                <ng-template #inputNameClear>
                                    <span
                                        nz-icon
                                        class="ant-input-clear-icon"
                                        nzTheme="fill"
                                        nzType="close-circle"
                                    ></span>
                                </ng-template>
                            </nz-input-group>
                        </nz-form-control>
                        <div *ngIf="this.formGroup.controls['description'].invalid && (this.formGroup.controls['description'].dirty || this.formGroup.controls['description'].touched)">
                            <div class="error" *ngIf="this.formGroup.controls['description'].hasError('required')">
                                {{'saveHotel.validate.description.required' | translate}}
                            </div>
                        </div>
                    </nz-form-item>
                </div>
                <div class="col col-sm-6">
                    <nz-form-item>
                        <nz-form-label nzFor="address">{{'saveHotel.address' | translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-input-group [nzSuffix]="inputNameClear">
                                <input [disabled]="action == 'DETAIL'" nz-input formControlName="address" id="address" />
                                <ng-template #inputNameClear>
                                    <span
                                        nz-icon
                                        class="ant-input-clear-icon"
                                        nzTheme="fill"
                                        nzType="close-circle"
                                    ></span>
                                </ng-template>
                            </nz-input-group>
                        </nz-form-control>
                        <div *ngIf="this.formGroup.controls['address'].invalid && (this.formGroup.controls['address'].dirty || this.formGroup.controls['address'].touched)">
                            <div class="error" *ngIf="this.formGroup.controls['address'].hasError('required')">
                                {{'saveHotel.validate.address.required' | translate}}
                            </div>
                        </div>
                    </nz-form-item>
                </div>
                <div class="col col-sm-12">
                    <nz-form-item>
                        <nz-form-label nzFor="uploadFile">{{'saveHotel.image'| translate}}</nz-form-label>
                        <nz-form-control>
                            <div class="file-list" (click)="hiddenFileInput.click()">
                                <div class="name">{{fileListName.join(", ")}}</div>
                                <input [disabled]="action == 'DETAIL'" #hiddenFileInput style="display: none;" type="file" class="custom-file-input" multiple id="uploadFile" (change)="onFileSelect($event)">
                                <img src="../../../../assets/icon/upload-file.svg" alt="upload-file">
                            </div>
                            <!-- <nz-upload
                                nzAction="http://192.168.1.13:8080/api/v1/room/roomType/create"
                                [nzHeaders]="{ authorization: 'authorization-text' }"
                                (nzChange)="handleChange($event)"
                                nzMultiple="true"
                            >
                                <input [disabled]="action == 'DETAIL'" nz-input formControlName="uploadFile" id="uploadFile" />
                            </nz-upload> -->
                        </nz-form-control>
                        <!-- <div *ngIf="this.formGroup.controls['uploadFile'].invalid && (this.formGroup.controls['uploadFile'].dirty || this.formGroup.controls['uploadFile'].touched)">
                            <div class="error" *ngIf="this.formGroup.controls['uploadFile'].hasError('required')">
                                {{'saveHotel.validate.uploadFile.required' | translate}}
                            </div>
                            <div class="error" *ngIf="this.formGroup.controls['uploadFile'].hasError('maxLength')">
                                {{'saveHotel.validate.uploadFile.patterned' | translate}}
                            </div>
                        </div> -->
                    </nz-form-item>
                </div>
                <div class="col col-sm-12">
                    <div class="d-flex justify-content-center align-items-center">
                        <button style="background-color: #9A9A9A !important; margin-right: 8px;" nz-button nzType="primary" (click)="onCancel()">
                            {{'saveHotel.btnCancel'| translate}}
                        </button>
                        <button *ngIf="!hotelId && action != 'DETAIL'" nz-button nzType="primary" (click)="handleAddHotel()">
                            {{'saveHotel.btnAdd'| translate}}
                        </button>
                        <button  *ngIf="hotelId  && action == 'PROCESS'" nz-button nzType="primary" (click)="handleAddHotel()">
                            {{'saveHotel.btnSave'| translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="frame-default" *ngIf="fileList.length == 0">
            </div>
            <p class="mt-1 text-center" *ngIf="fileList.length == 0">{{"saveHotel.image" | translate}}</p>
            <div class="d-flex  align-items-center">
              <svg style="cursor: pointer;" (click)="pre()" *ngIf="fileList.length > 1" xmlns="http://www.w3.org/2000/svg" width="12"
                height="14" viewBox="0 0 12 14" fill="none">
                <path d="M11.4258 12L4.3271 7L11.4258 2L10.006 0L0.0678864 7L10.006 14L11.4258 12Z" fill="black" />
              </svg>

              <nz-carousel [nzEnableSwipe]="true" [nzEffect]="'fade'">
                <div nz-carousel-content *ngFor="let image of imageInput;let indexOfelement=index;">
                  <div>
                    <img src={{image}} alt="">
                    <p style="font-size: 16px;">{{fileList[indexOfelement].name}}</p>
                  </div>
                </div>
              </nz-carousel>

              <svg style="cursor: pointer;" (click)="next()" *ngIf="fileList.length > 1" xmlns="http://www.w3.org/2000/svg" width="12"
                height="14" viewBox="0 0 12 14" fill="none">
                <path d="M0.148438 12L7.24712 7L0.148438 2L1.56817 0L11.5063 7L1.56817 14L0.148438 12Z"
                  fill="black" />
              </svg>
            </div>
        </div>
    </div>

</form>
