#header__default {
  position: fixed;
  top: 0;
  right: 0;
  height: 60px;
  background-color: #FFF;
  z-index: 99;
  width: calc(100% - 60px);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

  &.toggle {
    width: calc(100% - 18rem);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;


  &__left {
    align-items: center;
    &:hover {
      cursor: pointer;
    }

    img {
      filter: invert(1);
      padding: 20px;
      //màu 2DCE89
    }
  }
}
