<div id="header-default" class="header" [ngClass]="isExpand ? 'toggle': ''">
  <div class="header-left d-flex">
    <img *ngIf="isExpand" (click)="toggleSidebar()" src="../../../assets/icon/hamberger_menu.svg" alt="">
    <img *ngIf="!isExpand" (click)="toggleSidebar()" src="../../../assets/icon/hamberger_menu_.svg" alt="">
  </div>
  <div class="header-right">
    <app-option-info-admin></app-option-info-admin>
    <button style="width: auto; display: block; cursor: default;" class="btn-custom2">
      <div id="txt"></div>
    </button>
  </div>
</div>
