<app-loader></app-loader>
<app-breadcrumb [listBreadCrumb]="breadcrumb"></app-breadcrumb>
<form class="form-search" [nzLayout]="'vertical'" nz-form [formGroup]="formGroup">
    <div class="title-search">{{'listHotel.titleSearch'| translate}}</div>
    <div class="content">
        <div class="row">
            <div class="col col-sm-4">
                <nz-form-item>
                <nz-form-label nzFor="name">{{'listHotel.name'| translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-input-group [nzSuffix]="inputNameHotel">
                            <input nz-input formControlName="name" id="name" />
                            <ng-template #inputNameHotel>
                                <span
                                    nz-icon
                                    class="ant-input-clear-icon"
                                    nzTheme="fill"
                                    nzType="close-circle"
                                    *ngIf="this.formGroup.controls['name'].value"
                                    (click)="this.formGroup.controls['name'].setValue('')"
                                ></span>
                            </ng-template>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col col-sm-4">
                <nz-form-item>
                    <nz-form-label nzFor="totalRoom">{{'listHotel.totalRoom'| translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-input-group [nzSuffix]="inputNumberRoom">
                            <input nz-input formControlName="totalRoom" id="totalRoom" />
                            <ng-template #inputNumberRoom>
                                <span
                                    nz-icon
                                    class="ant-input-clear-icon"
                                    nzTheme="fill"
                                    nzType="close-circle"
                                    *ngIf="this.formGroup.controls['totalRoom'].value"
                                    (click)="this.formGroup.controls['totalRoom'].setValue('')"
                                ></span>
                            </ng-template>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col col-sm-4">
                <nz-form-item>
                    <nz-form-label nzFor="phone">{{'listHotel.phone'| translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-input-group [nzSuffix]="inputPhone">
                            <input nz-input formControlName="phone" id="phone" />
                            <ng-template #inputPhone>
                                <span
                                    nz-icon
                                    class="ant-input-clear-icon"
                                    nzTheme="fill"
                                    nzType="close-circle"
                                    *ngIf="this.formGroup.controls['phone'].value"
                                    (click)="this.formGroup.controls['phone'].setValue('')"
                                ></span>
                            </ng-template>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </div>
    <div class="group__btns d-flex justify-content-center">
        <button (click)="search()" nz-button nzType="primary" [nzSize]="size">{{'listHotel.btnSearch'| translate}}</button>
    </div>
</form>
<div class="table">
    <div class="d-flex table__header justify-content-between mb-8">
        <div class="title-search">{{'listHotel.titleTable'| translate}} ({{listOfData.length}})</div>
        <button nz-button nzType="primary" class="d-flex align-items-center justify-content-center" (click)="addHotel()">
            <span class="d-flex">
                <img src="../../../../assets/icon/plus_icon.svg" alt="">
            </span>
            {{'listHotel.addHotel'| translate}}
        </button>
    </div>
    <div class="table__content">
        <nz-table nzBordered nzSize="middle" #basicTable [nzData]="listOfData">
            <thead (nzSortOrderChange)="sortChange($event)">
                <tr>
                    <th>{{'listHotel.stt'| translate}}</th>
                    <th nzColumnKey="name" [nzSortFn]="true">{{'listHotel.name'| translate}}</th>
                    <th nzColumnKey="phone" [nzSortFn]="true">{{'listHotel.phone'| translate}}</th>
                    <th nzColumnKey="email" [nzSortFn]="true">{{'listHotel.email'| translate}}</th>
                    <th nzColumnKey="address" [nzSortFn]="true">{{'listHotel.address'| translate}}</th>
                    <th nzColumnKey="totalRoom" [nzSortFn]="true">{{'listHotel.totalRoom'| translate}}</th>
                    <th nzColumnKey="totalPerson" [nzSortFn]="true">{{'listHotel.totalPerson'| translate}}</th>
                    <th>{{'listHotel.action'| translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data; let i = index">
                    <td>{{ pageIndex * pageSize + i + 1 }}</td>
                    <td>{{ data?.name }}</td>
                    <td>{{ data?.phone }}</td>
                    <td>{{ data?.email }} m2</td>
                    <td>{{ data?.address }}</td>    
                    <td>{{ data?.totalRoom }}</td>
                    <td>{{ data?.totalPerson }}</td>
                    <td>
                        <div class="d-flex align-items-center justify-content-center btn-actions">
                            <button class="three-dots" nzTrigger="click" nz-button 
                                nz-dropdown [nzDropdownMenu]="menu">
                                    <img src="../../../assets/icon/three-dots-vertical.svg" alt="three dots">
                            </button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item (click)="updateHotel(data, 1)">
                                      <a>{{'listHotel.edit'| translate}}</a>
                                    </li>
                                    <li nz-menu-item (click)="updateHotel(data, 2)">
                                      <a>{{'listHotel.detail'| translate}}</a>
                                    </li>
                                  </ul>
                            </nz-dropdown-menu>
                        </div>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    <div class="table__footer">

    </div>
</div>