.form-item {
  padding: 160px;
  background: #F1f1f1;
  height: 100vh;
}

.login {
  background-color: #FFFFFF;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	padding: 24px;
	width: 450px;
  min-height: 500px;
	position: relative;
  margin: 50px auto 0;

  // .logo-login {
  //   background-image: url("../../../../assets/images/login/vinpearl_login_screen.jpg");
  //   background-size: cover;
  //   background-position: center;
  //   background-repeat: no-repeat;
  // }

  .col-12.col-sm-4 {
    background: #FFF;
  }

  .content-vinpearl {
    .header {
      height: 65px;
      margin-top: 4rem;
    }
  }

  .form-login {
    margin-top: 40px;
    position: relative;
  }

  .nav {
    &-tabs {
      margin-top: 1rem;
      border-bottom: 1px solid #dee2e6;
    }

    &-item {
      font-size: 20px;
      color: #979797;
      padding: 15px 70px;

      &:hover {
        cursor: pointer;
      }

      &.active {
        color: #312f49;
        font-weight: 700;
        transition: color .3s ease;
        cursor: pointer;
      }
    }
  }

  .tab-footer-question {
    margin-top: 10px;

    a {
      color: #2c72c6;
    }
  }

}
