<app-breadcrumb [listBreadCrumb]="breadcrumb"></app-breadcrumb>
<form class="form-search" [nzLayout]="'vertical'" nz-form [formGroup]="formGroup">
    <div class="title-search">{{'listTypeOfRoom.titleSearch' | translate}}</div>
    <div class="content">
        <div class="row">
            <div class="col col-sm-4">
                <nz-form-item>
                    <nz-form-label nzFor="roomName">{{'listTypeOfRoom.roomName' | translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-input-group [nzSuffix]="inputNameClear">
                            <input nz-input formControlName="roomName" id="roomName" />
                            <ng-template #inputNameClear>
                                <span
                                    nz-icon
                                    class="ant-input-clear-icon"
                                    nzTheme="fill"
                                    nzType="close-circle"
                                ></span>
                            </ng-template>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col col-sm-4">
                <nz-form-item>
                    <nz-form-label nzFor="roomType">Loại phòng</nz-form-label>
                    <nz-form-control>
                        <nz-input-group [nzSuffix]="inputNameClear">
                            <input nz-input formControlName="roomType" id="roomType" />
                            <ng-template #inputNameClear>
                                <span
                                    nz-icon
                                    class="ant-input-clear-icon"
                                    nzTheme="fill"
                                    nzType="close-circle"
                                ></span>
                            </ng-template>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col col-sm-4">
                <nz-form-item>
                    <nz-form-label nzFor="status">Trạng thái</nz-form-label>
                    <nz-form-control>
                        <nz-input-group [nzSuffix]="inputNameClear">
                            <input nz-input formControlName="status" id="status" />
                            <ng-template #inputNameClear>
                                <span
                                    nz-icon
                                    class="ant-input-clear-icon"
                                    nzTheme="fill"
                                    nzType="close-circle"
                                ></span>
                            </ng-template>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </div>
    <div class="group__btns d-flex justify-content-center">
        <button nz-button nzType="primary" [nzSize]="size">Tìm kiếm</button>
    </div>
</form>
<div class="table">
    <div class="d-flex table__header justify-content-between">
        <div class="title-search">Danh sách phòng ({{listOfData.length}})</div>
        <button nz-button nzType="primary" class="d-flex align-items-center justify-content-center" (click)="addRoom()">
            <img src="../../../../assets/icon/plus_icon.svg" alt="">
            Thêm mới loại phòng
        </button>
    </div>
    <div class="table__content">
        <nz-table [nzHideOnSinglePage]="true" nzBordered nzSize="middle" #basicTable [nzData]="listOfData">
            <thead (nzSortOrderChange)="sortChange($event)">
                <tr>
                    <th [nzSortFn]="true">STT</th>
                    <th [nzSortFn]="true">Tên phòng</th>
                    <th [nzSortFn]="true">Giá phòng</th>
                    <th [nzSortFn]="true">Diện tích (m2)</th>
                    <th [nzSortFn]="true">Số trẻ em</th>
                    <th [nzSortFn]="true">Số người lớn</th>
                    <th [nzSortFn]="true">Số lượng phòng</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data; let i = index">
                    <td>{{ pageSize * pageIndex + i + 1 }}</td>
                    <td>{{ data?.name }}</td>
                    <td>{{ data?.price }}</td>
                    <td>{{ data?.acreage }} m2</td>
                    <td>{{ data?.numberChildren }}</td>
                    <td>{{ data?.numberParent }}</td>
                    <td>{{ data?.numberOfRooms }}</td>
                    <td>
                        <div class="btn-actions">
                            <button class="three-dots" nzTrigger="click" nz-button 
                                nz-dropdown [nzDropdownMenu]="menu">
                                    <img src="../../../assets/icon/three-dots-vertical.svg" alt="three dots">
                            </button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item (click)="updateRoom(data)">
                                      <a>Chỉnh sửa</a>
                                    </li>
                                    <li nz-menu-item>
                                      <a>Xóa</a>
                                    </li>
                                  </ul>
                            </nz-dropdown-menu>
                        </div>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    <div class="table-footer d-flex justify-content-between align-items-center">
        <div *ngIf="totalItem > 0">Hiển thị 1 - {{pageSize}} trong {{totalItem}} bản ghi</div>
        <div *ngIf="totalItem > 5">
            <nz-pagination
                [nzPageIndex]="pageIndex"
                [nzTotal]="totalItem"
                nzShowSizeChanger
                [nzPageSize]="pageSize"
                [nzPageSizeOptions]="[5, 10, 20, 50, 100]"
                (nzPageSizeChange)="changeItemPerPage($event)"
                (nzPageIndexChange)="changeCurrentPage($event)"
            ></nz-pagination>
            <div style="width: 300px;"></div>
        </div>
    </div>
</div>