<app-breadcrumb [listBreadCrumb]="breadcrumb"></app-breadcrumb>
<form class="form-search" [nzLayout]="'vertical'" nz-form [formGroup]="formGroup">
    <div class="title-search">{{'customer.titleSearch' | translate}}</div>
    <div class="content">
        <div class="row">
            <div class="col col-sm-4">
                <nz-form-item>
                    <nz-form-label nzFor="fullName">{{'customer.fullName' | translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-input-group [nzSuffix]="inputNameClear">
                            <input nz-input formControlName="fullName" id="fullName" />
                            <ng-template #inputNameClear>
                                <span
                                    nz-icon
                                    class="ant-input-clear-icon"
                                    nzTheme="fill"
                                    nzType="close-circle"
                                    *ngIf="formGroup.controls['fullName'].value"
                                    (click)="formGroup.controls['fullName'].setValue(null)"
                                ></span>
                            </ng-template>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col col-sm-4">
                <nz-form-item>
                    <nz-form-label nzFor="phone">{{'customer.phone' | translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-input-group [nzSuffix]="inputPhoneClear">
                            <input nz-input formControlName="phone" id="phone" />
                            <ng-template #inputPhoneClear>
                                <span
                                    nz-icon
                                    class="ant-input-clear-icon"
                                    nzTheme="fill"
                                    nzType="close-circle"
                                    *ngIf="formGroup.controls['phone'].value"
                                    (click)="formGroup.controls['phone'].setValue(null)"
                                ></span>
                            </ng-template>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col col-sm-4">
                <nz-form-item>
                    <nz-form-label nzFor="hotel">{{'customer.hotel' | translate}}</nz-form-label>
                    <nz-form-control>
                        <nz-input-group [nzSuffix]="inputNameClear">
                            <input nz-input formControlName="hotel" id="hotel" />
                            <ng-template #inputNameClear>
                                <span
                                    nz-icon
                                    class="ant-input-clear-icon"
                                    nzTheme="fill"
                                    nzType="close-circle"
                                    *ngIf="formGroup.controls['hotel'].value"
                                    (click)="formGroup.controls['hotel'].setValue(null)"
                                ></span>
                            </ng-template>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </div>
    <div class="group-btns d-flex justify-content-center">
        <button nz-button nzType="primary" [nzSize]="size">{{'customer.btnSearch' | translate}}</button>
    </div>
</form>
<div class="table">
    <div class="table-title d-flex table-header justify-content-between">
        <div class="title-search">{{'customer.titleTable' | translate}} ({{listOfData.length}})</div>
        <div></div>
    </div>
    <div class="table-content">
        <nz-table [nzHideOnSinglePage]="true" nzBordered nzSize="middle" #basicTable [nzData]="listOfData">
            <thead (nzSortOrderChange)="sortChange($event)">
                <tr>
                    <th [nzSortFn]="true">STT</th>
                    <th [nzSortFn]="true">{{'customer.fullName' | translate}}</th>
                    <th [nzSortFn]="true">{{'customer.birthDate' | translate}}</th>
                    <th [nzSortFn]="true">{{'customer.sex' | translate}}</th>
                    <th [nzSortFn]="true">{{'customer.phone' | translate}}</th>
                    <th [nzSortFn]="true">{{'customer.cccd' | translate}}</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data; let i = index">
                    <td>{{ pageSize * (pageIndex - 1) + i + 1 }}</td>
                    <td>{{ data?.fullName }}</td>
                    <td>{{ data?.birthDate | date: "HH:mm:ss - dd/MM/yyyy" }}</td>
                    <td>
                        <p *ngIf="data?.sex === 1">Nam</p>
                        <p *ngIf="data?.sex === 2">Nữ</p>
                        <p *ngIf="data?.sex === 0">Không xác định</p>
                    </td>
                    <td>{{ data?.phone }}</td>
                    <td>{{ data?.cccd }}</td>
                    <td>
                        <div class="btn-actions">
                            <button class="three-dots" nzTrigger="click" nz-button
                                nz-dropdown [nzDropdownMenu]="menu">
                                    <img src="../../../assets/icon/three-dots-vertical.svg" alt="three dots">
                            </button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item (click)="updateCustomer(data)">
                                        <a >Xem chi tiết</a>
                                      </li>
                                    <li nz-menu-item>
                                      <a>Xóa</a>
                                    </li>
                                  </ul>
                            </nz-dropdown-menu>
                        </div>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    <div class="table-footer d-flex justify-content-between align-items-center">
        <div *ngIf="totalItem <= 5 && totalItem > 0">Hiển thị 1 - {{totalItem}} trong {{totalItem}} bản ghi</div>
        <div *ngIf="totalItem > 5">
            <nz-pagination
                [nzPageIndex]="pageIndex"
                [nzTotal]="totalItem"
                nzShowSizeChanger
                [nzPageSize]="pageSize"
                [nzPageSizeOptions]="[5, 10, 20, 50, 100]"
                (nzPageSizeChange)="changeItemPerPage($event)"
                (nzPageIndexChange)="changeCurrentPage($event)"
            ></nz-pagination>
            <div style="width: 300px;"></div>
        </div>
    </div>
</div>
