<app-breadcrumb [listBreadCrumb]="breadcrumb"></app-breadcrumb>
<form action="" [nzLayout]="'vertical'" [formGroup]="formGroup" class="form" nz-form>
    <div class="title-search">{{'saveTour.title' | translate}}</div>
    <div class="content row">
        <div class="col col-sm-4">
            <nz-form-item>
                <nz-form-label nzFor="name">{{'saveTour.name' | translate}}</nz-form-label>
                <nz-form-control>
                    <nz-input-group [nzSuffix]="inputNameClear">
                        <input nz-input formControlName="name" id="name" />
                        <ng-template #inputNameClear>
                            <span
                                nz-icon
                                class="ant-input-clear-icon"
                                nzTheme="fill"
                                nzType="close-circle"
                            ></span>
                        </ng-template>
                    </nz-input-group>
                </nz-form-control>
                <div *ngIf="this.formGroup.controls['name'].invalid && (this.formGroup.controls['name'].dirty || this.formGroup.controls['name'].touched)">
                    <div class="error" *ngIf="this.formGroup.controls['name'].hasError('required')">
                        {{'saveTour.validate.name.required' | translate}}
                    </div>
                    <div class="error" *ngIf="this.formGroup.controls['name'].hasError('maxLength')">
                        {{'saveTour.validate.name.maxLength' | translate}}
                    </div>
                </div>
            </nz-form-item>
        </div>
        <div class="col col-sm-4">
            <nz-form-item>
                <nz-form-label nzFor="numberOfPeople">{{'saveTour.numberOfPeople' | translate}}</nz-form-label>
                <nz-form-control>
                    <nz-input-group [nzSuffix]="inputNumberOfPeopleClear">
                        <input nz-input formControlName="numberOfPeople" id="numberOfPeople" />
                        <ng-template #inputNumberOfPeopleClear>
                            <span
                                nz-icon
                                class="ant-input-clear-icon"
                                nzTheme="fill"
                                nzType="close-circle"
                            ></span>
                        </ng-template>
                    </nz-input-group>
                </nz-form-control>
                <div *ngIf="this.formGroup.controls['numberOfPeople'].invalid && (this.formGroup.controls['numberOfPeople'].dirty || this.formGroup.controls['numberOfPeople'].touched)">
                    <div class="error" *ngIf="this.formGroup.controls['numberOfPeople'].hasError('required')">
                        {{'saveTour.validate.numberOfPeople.required' | translate}}
                    </div>
                </div>
            </nz-form-item>
        </div>
        <div class="col col-sm-4">
            <nz-form-item>
                <nz-form-label nzFor="typeOfTour">{{'listTour.typeOfTour' | translate}}</nz-form-label>
                <nz-form-control>
                    <nz-select
                        [nzPlaceHolder]="'listTour.placeHolder' | translate"
                        formControlName="typeOfTour"
                        nzAllowClear
                    >
                        <nz-option *ngFor="let item of listOfTypeOfTour" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                    </nz-select>
                </nz-form-control>
                <div *ngIf="this.formGroup.controls['typeOfTour'].invalid && (this.formGroup.controls['typeOfTour'].dirty || this.formGroup.controls['typeOfTour'].touched)">
                    <div class="error" *ngIf="this.formGroup.controls['typeOfTour'].hasError('required')">
                        {{'listTour.validate.typeOfTour.required' | translate}}
                    </div>
                </div>
            </nz-form-item>
        </div>
        <div class="col col-sm-4">
            <nz-form-item>
                <nz-form-label nzFor="lengthStay">{{'listTour.lengthStay' | translate}}</nz-form-label>
                <nz-form-control>
                    <nz-select
                        [nzPlaceHolder]="'listTour.placeHolder' | translate"
                        formControlName="lengthStay"
                        nzAllowClear
                    >
                        <nz-option *ngFor="let item of listOfLengthStay" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                    </nz-select>
                </nz-form-control>
                <div *ngIf="this.formGroup.controls['lengthStay'].invalid && (this.formGroup.controls['lengthStay'].dirty || this.formGroup.controls['lengthStay'].touched)">
                    <div class="error" *ngIf="this.formGroup.controls['lengthStay'].hasError('required')">
                        {{'listTour.validate.lengthStay.required' | translate}}
                    </div>
                </div>
            </nz-form-item>
        </div>
        <div class="col col-sm-4">
            <nz-form-item>
                <nz-form-label nzFor="leavingFrom">{{'listTour.leavingFrom' | translate}}</nz-form-label>
                <nz-form-control>
                    <nz-select
                        [nzPlaceHolder]="'listTour.placeHolder' | translate"
                        formControlName="leavingFrom"
                        nzAllowClear
                    >
                        <nz-option *ngFor="let item of listOfSite" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                    </nz-select>
                </nz-form-control>
                <div *ngIf="this.formGroup.controls['leavingFrom'].invalid && (this.formGroup.controls['leavingFrom'].dirty || this.formGroup.controls['leavingFrom'].touched)">
                    <div class="error" *ngIf="this.formGroup.controls['leavingFrom'].hasError('required')">
                        {{'listTour.validate.leavingFrom.required' | translate}}
                    </div>
                </div>
            </nz-form-item>
        </div>
        <div class="col col-sm-4">
            <nz-form-item>
                <nz-form-label nzFor="leavingTo">{{'listTour.leavingTo' | translate}}</nz-form-label>
                <nz-form-control>
                    <nz-select
                        [nzPlaceHolder]="'listTour.placeHolder' | translate"
                        formControlName="leavingTo"
                        nzAllowClear
                    >
                        <nz-option *ngFor="let item of listOfSite" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                    </nz-select>
                </nz-form-control>
                <div *ngIf="this.formGroup.controls['leavingTo'].invalid && (this.formGroup.controls['leavingTo'].dirty || this.formGroup.controls['leavingTo'].touched)">
                    <div class="error" *ngIf="this.formGroup.controls['leavingTo'].hasError('required')">
                        {{'listTour.validate.leavingTo.required' | translate}}
                    </div>
                </div>
            </nz-form-item>
        </div>
        <div class="col col-sm-4">
            <nz-form-item>
                <nz-form-label nzFor="suitable">{{'listTour.suitable' | translate}}</nz-form-label>
                <nz-form-control>
                    <nz-select
                        [nzPlaceHolder]="'listTour.placeHolder' | translate"
                        formControlName="suitable"
                        nzAllowClear
                    >
                        <nz-option *ngFor="let item of listOfSuitable" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                    </nz-select>
                </nz-form-control>
                <div *ngIf="this.formGroup.controls['suitable'].invalid && (this.formGroup.controls['suitable'].dirty || this.formGroup.controls['suitable'].touched)">
                    <div class="error" *ngIf="this.formGroup.controls['suitable'].hasError('required')">
                        {{'listTour.validate.suitable.required' | translate}}
                    </div>
                </div>
            </nz-form-item>
        </div>
        <div class="col col-sm-4">
            <nz-form-item>
                <nz-form-label nzFor="price">{{'saveTour.price' | translate}}</nz-form-label>
                <nz-form-control>
                    <nz-input-group [nzSuffix]="inputPriceClear">
                        <input nz-input formControlName="price" id="price" />
                        <ng-template #inputPriceClear>
                            <span
                                nz-icon
                                class="ant-input-clear-icon"
                                nzTheme="fill"
                                nzType="close-circle"
                            ></span>
                        </ng-template>
                    </nz-input-group>
                </nz-form-control>
                <div *ngIf="this.formGroup.controls['price'].invalid && (this.formGroup.controls['price'].dirty || this.formGroup.controls['price'].touched)">
                    <div class="error" *ngIf="this.formGroup.controls['price'].hasError('required')">
                        {{'saveTour.validate.price.required' | translate}}
                    </div>
                    <div class="error" *ngIf="this.formGroup.controls['price'].hasError('maxLength')">
                        {{'saveTour.validate.price.maxLength' | translate}}
                    </div>
                </div>
            </nz-form-item>
        </div>
        <div class="col col-sm-4">
            <nz-form-item>
                <nz-form-label nzFor="expirationDate">{{'saveTour.expirationDate' | translate}}</nz-form-label>
                <nz-form-control>
                    <nz-date-picker
                        nzShowTime
                        nzFormat="HH:mm:ss dd/MM/yyyy"
                        ngModel
                        [nzShowTime]="true"
                        [nzAllowClear]="true"
                        [nzDisabled]="false"
                        [nzInputReadOnly]="true"
                        name="expirationDate"
                        formControlName="expirationDate"
                    ></nz-date-picker>
                </nz-form-control>
                <div *ngIf="this.formGroup.controls['expirationDate'].invalid && (this.formGroup.controls['expirationDate'].dirty || this.formGroup.controls['expirationDate'].touched)">
                    <div class="error" *ngIf="this.formGroup.controls['expirationDate'].hasError('required')">
                        {{'saveTour.validate.expirationDate.required' | translate}}
                    </div>
                    <div class="error" *ngIf="this.formGroup.controls['expirationDate'].hasError('maxLength')">
                        {{'saveTour.validate.expirationDate.maxLength' | translate}}
                    </div>
                </div>
            </nz-form-item>
        </div>
        <div class="col col-sm-12">
            <nz-form-item>
                <nz-form-label nzFor="uploadFile">{{'saveTour.image'| translate}}</nz-form-label>
                <nz-form-control>
                    <div class="file-list" (click)="hiddenFileInput.click()">
                        <div class="name">{{fileListName.join(", ")}}</div>
                        <input #hiddenFileInput style="display: none;" type="file" class="custom-file-input" multiple id="uploadFile" (change)="onFileSelect($event)">
                        <img src="../../../../assets/icon/upload-file.svg" alt="upload-file">
                    </div>
                    <!-- <nz-upload
                        nzAction="http://192.168.1.13:8080/api/v1/room/roomType/create"
                        [nzHeaders]="{ authorization: 'authorization-text' }"
                        (nzChange)="handleChange($event)"
                        nzMultiple="true"
                    >
                        <input nz-input formControlName="uploadFile" id="uploadFile" />
                    </nz-upload> -->
                </nz-form-control>
                <!-- <div *ngIf="this.formGroup.controls['uploadFile'].invalid && (this.formGroup.controls['uploadFile'].dirty || this.formGroup.controls['uploadFile'].touched)">
                    <div class="error" *ngIf="this.formGroup.controls['uploadFile'].hasError('required')">
                        {{'saveTour.validate.uploadFile.required' | translate}}
                    </div>
                    <div class="error" *ngIf="this.formGroup.controls['uploadFile'].hasError('maxLength')">
                        {{'saveTour.validate.uploadFile.patterned' | translate}}
                    </div>
                </div> -->
            </nz-form-item>
        </div>
        <div class="col col-sm-4">
            <nz-form-item>
                <nz-form-label nzFor="description">{{'saveTour.description' | translate}}</nz-form-label>
                <nz-form-control>
                    <ngx-editor-menu [editor]="descriptionEditor" [toolbar]="toolbar"> </ngx-editor-menu>
                    <ngx-editor formControlName="description" [editor]="descriptionEditor" [disabled]="false"></ngx-editor>
                </nz-form-control>
                <div *ngIf="this.formGroup.controls['description'].invalid && (this.formGroup.controls['description'].dirty || this.formGroup.controls['description'].touched)">
                    <div class="error" *ngIf="this.formGroup.controls['description'].hasError('required')">
                        {{'saveTour.validate.description.required' | translate}}
                    </div>
                </div>
            </nz-form-item>
        </div>
        <div class="col col-sm-4">
            <nz-form-item>
                <nz-form-label nzFor="inclusion">{{'saveTour.inclusion' | translate}}</nz-form-label>
                <nz-form-control>
                    <ngx-editor-menu [editor]="inclusionEditor" [toolbar]="toolbar"> </ngx-editor-menu>
                    <ngx-editor formControlName="inclusion" [editor]="inclusionEditor" [disabled]="false"></ngx-editor>
                </nz-form-control>
                <div *ngIf="this.formGroup.controls['inclusion'].invalid && (this.formGroup.controls['inclusion'].dirty || this.formGroup.controls['inclusion'].touched)">
                    <div class="error" *ngIf="this.formGroup.controls['inclusion'].hasError('required')">
                        {{'saveTour.validate.inclusion.required' | translate}}
                    </div>
                </div>
            </nz-form-item>
        </div>
        <div class="col col-sm-4">
            <nz-form-item>
                <nz-form-label nzFor="termsConditions">{{'saveTour.termsConditions' | translate}}</nz-form-label>
                <nz-form-control>
                    <ngx-editor-menu [editor]="termsConditionsEditor" [toolbar]="toolbar"> </ngx-editor-menu>
                    <ngx-editor formControlName="termsConditions" [editor]="termsConditionsEditor" [disabled]="false"></ngx-editor>
                </nz-form-control>
                <div *ngIf="this.formGroup.controls['termsConditions'].invalid && (this.formGroup.controls['termsConditions'].dirty || this.formGroup.controls['termsConditions'].touched)">
                    <div class="error" *ngIf="this.formGroup.controls['termsConditions'].hasError('required')">
                        {{'saveTour.validate.termsConditions.required' | translate}}
                    </div>
                </div>
            </nz-form-item>
        </div>
        <div class="col col-sm-12">
            <div class="d-flex justify-content-center align-items-center">
                <button style="background-color: #9A9A9A; margin-right: 8px;" nz-button nzType="primary" (click)="onCancel()">
                    {{'saveTour.btnCancel'| translate}}
                </button>
                <button *ngIf="!tourId" nz-button nzType="primary" (click)="handleAddTour()">
                    {{'saveTour.btnAdd'| translate}}
                </button>
                <button *ngIf="tourId" nz-button nzType="primary" (click)="handleAddTour()">
                    {{'saveTour.btnSave'| translate}}
                </button>
            </div>
        </div>
    </div>
</form>