.form__content {
    .col-md-8 {
        margin: 0 auto;
    }
}

.table {
    &__header {
        margin-bottom: 40px;
    }

    .title {
        font-size: 18px;
        font-weight: bold;
    }
}

.btn-actions {
    .three-dots {
        border: none;
        background-color: transparent;
        box-shadow: none;
    }
}