.toggle {
  padding-top: 4rem;
  width: calc(100% - 4rem);
  margin-left: auto;
}

.content {
  padding-top: 4rem;
  width: calc(100% - 18rem);
  margin-left: auto;

  &__body {
    padding: 25px 25px 0 25px;
    // background-color: #f2f5fa;
  }
}

.backgroup-loading {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 9999;
  opacity: 0.5;
  background: rgb(196, 195, 195);
}


