<app-breadcrumb [listBreadCrumb]="breadcrumb"></app-breadcrumb>
<form action="" [nzLayout]="'vertical'" [formGroup]="formGroup" class="form" nz-form>
    <div class="title-search">Thêm mới phòng</div>
    <div class="content row">
        <div class="col col-md-8">
            <div class="row">
                <div class="col col-sm-6">
                    <nz-form-item>
                        <nz-form-label nzFor="name">Tên phòng</nz-form-label>
                        <nz-form-control>
                            <nz-input-group [nzSuffix]="inputNameClear">
                                <input nz-input formControlName="name" id="name" />
                                <ng-template #inputNameClear>
                                <span
                                    nz-icon
                                    class="ant-input-clear-icon"
                                    nzTheme="fill"
                                    nzType="close-circle"
                                    *ngIf="formGroup.controls['name'].value"
                                    (click)="formGroup.controls['name'].setValue(null)"
                                ></span>
                            </ng-template>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col col-sm-6">
                    <nz-form-item>
                        <nz-form-label nzFor="hotel">{{'saveRoom.hotel' | translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-select
                                [nzPlaceHolder]="'saveRoom.hotel' | translate"
                                formControlName="hotel"
                                nzAllowClear
                                (ngModelChange)="changeHotel($event)"
                            >
                                <nz-option *ngFor="let item of listOfHotel" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                            </nz-select>
                        </nz-form-control>
                        <div *ngIf="this.formGroup.controls['hotel'].invalid && (this.formGroup.controls['hotel'].dirty || this.formGroup.controls['hotel'].touched)">
                            <div class="error" *ngIf="this.formGroup.controls['hotel'].hasError('required')">
                                {{'saveRoom.validate.hotel.required' | translate}}
                            </div>
                        </div>
                    </nz-form-item>
                </div>
                <div class="col col-sm-6">
                    <nz-form-item>
                        <nz-form-label nzFor="roomType">{{'saveRoom.roomType' | translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-select
                                [nzPlaceHolder]="'Loại phòng'"
                                formControlName="roomType"
                                nzAllowClear
                            >
                                <nz-option *ngFor="let item of listOfRoomType" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                            </nz-select>
                        </nz-form-control>
                        <div *ngIf="this.formGroup.controls['roomType'].invalid && (this.formGroup.controls['roomType'].dirty || this.formGroup.controls['roomType'].touched)">
                            <div class="error" *ngIf="this.formGroup.controls['roomType'].hasError('required')">
                                {{'saveRoom.validate.roomType.required' | translate}}
                            </div>
                        </div>
                    </nz-form-item>
                </div>
                <div class="col col-sm-6">
                    <nz-form-item>
                        <nz-form-label nzFor="roomGroupType">{{'saveRoom.roomGroupType' | translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-select
                                [nzPlaceHolder]="'Loại phòng'"
                                formControlName="roomGroupType"
                                nzAllowClear
                            >
                                <nz-option *ngFor="let item of listOfRoomType" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                            </nz-select>
                        </nz-form-control>
                        <div *ngIf="this.formGroup.controls['roomGroupType'].invalid && (this.formGroup.controls['roomGroupType'].dirty || this.formGroup.controls['roomGroupType'].touched)">
                            <div class="error" *ngIf="this.formGroup.controls['roomGroupType'].hasError('required')">
                                {{'saveRoom.validate.roomGroupType.required' | translate}}
                            </div>
                        </div>
                    </nz-form-item>
                </div>
                <div class="col col-sm-6">
                    <nz-form-item>
                        <nz-form-label nzFor="description">{{'saveRoom.description' | translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-input-group [nzSuffix]="inputNameClear">
                                <input nz-input formControlName="description" id="description" />
                                <ng-template #inputNameClear>
                                <span
                                    nz-icon
                                    class="ant-input-clear-icon"
                                    nzTheme="fill"
                                    nzType="close-circle"
                                    *ngIf="formGroup.controls['description'].value"
                                    (click)="formGroup.controls['description'].setValue(null)"
                                ></span>
                            </ng-template>
                            </nz-input-group>
                        </nz-form-control>
                        <div *ngIf="this.formGroup.controls['description'].invalid && (this.formGroup.controls['description'].dirty || this.formGroup.controls['description'].touched)">
                            <div class="error" *ngIf="this.formGroup.controls['description'].hasError('required')">
                                {{'saveRoom.validate.description.required' | translate}}
                            </div>
                        </div>
                    </nz-form-item>
                </div>
            </div>
        </div>
        <div class="btn-group">
            <div class="col col-sm-12">
                <div class="d-flex justify-content-center align-items-center">
                    <button style="background-color: #9A9A9A; margin-right: 8px;" nz-button nzType="primary" (click)="onCancel()">
                        {{'saveRoom.btnCancel'| translate}}
                    </button>
                    <button *ngIf="!roomId" nz-button nzType="primary" (click)="handleAddRoom()">
                        {{'saveRoom.btnAdd'| translate}}
                    </button>
                    <button *ngIf="roomId" nz-button nzType="primary" (click)="handleAddRoom()">
                        {{'saveRoom.btnSave'| translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</form>