<app-breadcrumb [listBreadCrumb]="breadcrumb"></app-breadcrumb>
<form [nzLayout]="'vertical'" class="form-search" nz-form [formGroup]="formGroup">
    <div class="title-search">{{'roomBooking.titleSearch' | translate}}</div>
    <div class="content">
        <div class="col col-md-8">
            <div class="row">
                <div class="col col-sm-6">
                    <nz-form-item>
                        <nz-form-label nzFor="roomType">{{'roomBooking.typeOfRoom' | translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-input-group [nzSuffix]="inputNameClear">
                                <input nz-input formControlName="roomType" id="roomType" />
                                <ng-template #inputNameClear>
                                    <span
                                        nz-icon
                                        class="ant-input-clear-icon"
                                        nzTheme="fill"
                                        nzType="close-circle"
                                    ></span>
                                </ng-template>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col col-sm-6">
                    <nz-form-item>
                        <nz-form-label nzFor="roomGroupType">{{'roomBooking.typeOfGroupRoom' | translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-input-group [nzSuffix]="inputNameClear">
                                <input nz-input formControlName="roomGroupType" id="roomGroupType" />
                                <ng-template #inputNameClear>
                                    <span
                                        nz-icon
                                        class="ant-input-clear-icon"
                                        nzTheme="fill"
                                        nzType="close-circle"
                                    ></span>
                                </ng-template>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col col-sm-6">
                    <nz-form-item>
                        <nz-form-label nzFor="status">{{'roomBooking.status' | translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-input-group [nzSuffix]="inputNameClear">
                                <nz-select
                                    [nzMaxTagCount]="3"
                                    [nzMaxTagPlaceholder]="tagPlaceHolder"
                                    nzMode="multiple"
                                    nzPlaceHolder="{{'roomBooking.all' | translate}}"
                                    [(ngModel)]="listOfSelectedValue"
                                    formControlName="status"
                                >
                                    <nz-option *ngFor="let item of listOfOption" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                                </nz-select>
                                <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col col-sm-6">
                    <nz-form-item>
                        <nz-form-label>{{'roomBooking.rangeTime' | translate}}</nz-form-label>
                        <nz-form-control>
                            <div class="d-flex justify-content-between align-items-center">
                                <nz-form-control>
                                    <nz-date-picker
                                        nzShowTime
                                        nzFormat="HH:mm:ss dd/MM/yyyy"
                                        ngModel
                                        [nzShowTime]="true"
                                        [nzAllowClear]="true"
                                        [nzDisabled]="false"
                                        [nzInputReadOnly]="true"
                                        name="startTime"
                                        formControlName="startTime"
                                    ></nz-date-picker>
                                </nz-form-control>
                                <span style="padding: 7px 20px;">-</span>
                                <nz-form-control>
                                    <nz-date-picker
                                        nzShowTime
                                        nzFormat="HH:mm:ss dd/MM/yyyy"
                                        ngModel
                                        [nzShowTime]="true"
                                        [nzAllowClear]="true"
                                        [nzDisabled]="false"
                                        [nzInputReadOnly]="true"
                                        name="endTime"
                                        formControlName="endTime"
                                    ></nz-date-picker>
                                </nz-form-control>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </div>
    </div>
    <div class="group__btns d-flex justify-content-center">
        <button nz-button nzType="primary" [nzSize]="size">{{'roomBooking.btnSearch' | translate}}</button>
    </div>
    <div class="row status__detail">
        <div class="col col-md-2" *ngFor="let option of listOfOption">
            <span class="item-room"
                [class.empty]="option?.value == 0"
                [class.live]="option?.value == 1"
                [class.deposit]="option?.value == 2"
                [class.checkin]="option?.value == 3"
                [class.checkout]="option?.value == 4"
                [class.unknown]="option?.value == 5">35
            </span> &nbsp;: <span class="status__detail--type">{{option?.label}}</span>
        </div>
    </div>
</form>

<div class="room__list">
    <nz-tabset>
        <nz-tab *ngFor="let buildingName of buildingNames" [nzTitle]="titleTemplate">
          <ng-template #titleTemplate>
            <img src="../../../../assets/icon/building.svg" alt="">
            {{ buildingName }}
            <span class="total">16</span>
          </ng-template>
          <div class="row">
            <div class="col col-md-2" *ngFor="let item of listOfData; let indexOfelement = index">
                <div class="item-room"
                    [class.empty]="item?.status == 0"
                    [class.live]="item?.status == 1"
                    [class.deposit]="item?.status == 2"
                    [class.checkin]="item?.status == 3"
                    [class.checkout]="item?.status == 4"
                    [class.unknown]="item?.status == 5">
                    <img src="../../../../assets/icon/account-management.svg" alt="room">
                    <h4 class="room__name">{{item.name}}</h4>
                    <p class="room__p">{{item.status}}</p>
                    <p class="room__p">
                        <img src="../../../../assets/icon/calendar-check-fill.svg" alt="">
                        <span>{{item.startTime | date: 'HH:mm:ss - dd/MM/yyyy'}}</span>
                    </p>
                    <p class="room__p">
                        <img src="../../../../assets/icon/calendar-x-fill.svg" alt="">
                        <span>{{item.endTime | date: 'HH:mm:ss - dd/MM/yyyy'}}</span>
                    </p>
                    <div class="group__btns">
                        <button (click)="showModal()" *ngIf="item?.status == 0" class="default" nz-button nzType="default" [nzSize]="size">{{'roomBooking.order' | translate}}</button>
                        <button class="default" nz-button nzType="default" [nzSize]="size">{{'roomBooking.checkin' | translate}}</button>
                        <!-- <button nz-button nzType="default" [nzSize]="size">Checkout</button>
                        <button nz-button nzType="default" [nzSize]="size">DV</button> -->
                    </div>
                </div>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
</div>
<nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]="titleModal"
    [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    nzWidth="50%"
>
    <ng-container *nzModalContent>
      <div class="row">
        <div class="col col-sm-8">
            <div class="info-room">
                <h4>{{'roomBooking.infoRoom' | translate}}</h4>
                <div class="row">
                    <div class="col col-sm-12">
                        <table class="table">
                            <tr>
                                <th class="th">{{'roomBooking.roomName' | translate}}</th>
                                <th class="th">{{'roomBooking.roomId' | translate}}</th>
                                <th class="th">{{'roomBooking.status' | translate}}</th>
                                <th class="th">{{'roomBooking.staff' | translate}}</th>
                                <th class="th">{{'roomBooking.dateCreated' | translate}}</th>
                              </tr>
                              <tr>
                                <td>222</td>
                                <td>01237165</td>
                                <td>
                                    <span>Có khách</span>
                                </td>
                                <td>Nguyễn Văn A</td>
                                <td>123123123</td>
                              </tr>
                        </table>
                    </div>
                    <div class="col col-sm-12">
                        <div class="d-flex justify-content-between align-items-center">
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true">{{'roomBooking.checkin' | translate}}</nz-form-label>
                                <nz-form-control>
                                    <nz-form-control>
                                        <nz-date-picker
                                            nzShowTime
                                            nzFormat="HH:mm:ss dd/MM/yyyy"
                                            ngModel
                                            [nzShowTime]="true"
                                            [nzAllowClear]="true"
                                            [nzDisabled]="false"
                                            [nzInputReadOnly]="true"
                                            name="startTime"
                                            formControlName="startTime"
                                        ></nz-date-picker>
                                    </nz-form-control>
                                </nz-form-control>
                            </nz-form-item>
                            <span style="padding: 7px 20px;">~</span>
                            <nz-form-item>
                                <nz-form-label [nzNoColon]="true">{{'roomBooking.checkout' | translate}}</nz-form-label>
                                <nz-form-control>
                                    <nz-form-control>
                                        <nz-date-picker
                                            nzShowTime
                                            nzFormat="HH:mm:ss dd/MM/yyyy"
                                            ngModel
                                            [nzShowTime]="true"
                                            [nzAllowClear]="true"
                                            [nzDisabled]="false"
                                            [nzInputReadOnly]="true"
                                            name="endTime"
                                            formControlName="endTime"
                                        ></nz-date-picker>
                                    </nz-form-control>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div class="col col-sm-12">
                        <table class="table">
                            <tr>
                                <th class="th">{{'roomBooking.cmnd' | translate}}</th>
                                <th class="th">{{'roomBooking.guestName' | translate}}</th>
                                <th class="th">{{'roomBooking.guestNumber' | translate}}</th>
                                <th class="th">{{'roomBooking.note' | translate}}</th>
                            </tr>
                            <tr>
                                <td>222</td>
                                <td>Nguyễn Tiến Trung Kiên</td>
                                <td>
                                    <span>Có khách</span>
                                </td>
                                <td>Nguyễn Tiến Trung Kiên</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="table-service">
                <nz-table [nzShowPagination]="false" nzBordered nzSize="middle" #basicTable [nzData]="listOfService">
                    <thead>
                        <tr>
                            <th>{{'service.stt' | translate}}</th>
                            <th>{{'service.described' | translate}}</th>
                            <th>{{'service.number' | translate}}</th>
                            <th>{{'service.price' | translate}}</th>
                            <th>{{'service.money' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of basicTable.data">
                            <td>{{ data?.stt }}</td>
                            <td>{{ data?.described }}</td>
                            <td>
                                <nz-input-number [(ngModel)]="demoValue" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
                            </td>
                            <td>{{ data?.price }}</td>
                            <td>{{ data?.money }}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="table-service">
                <h4 class="title">{{'service.title' | translate}}</h4>
                <nz-table [nzShowPagination]="false" nzBordered nzSize="middle" #basicTable [nzData]="listOfService">
                    <thead>
                        <tr>
                            <th>{{'service.stt' | translate}}</th>
                            <th>{{'service.described' | translate}}</th>
                            <th>{{'service.price' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of basicTable.data">
                            <td>{{ data?.stt }}</td>
                            <td>{{ data?.described }}</td>
                            <td>{{ data?.price }}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
      </div>
    </ng-container>
    <ng-template #modalFooter>
        <div class="group__btns">
            <button nz-button nzType="primary" (click)="handleCancel()">{{'roomBooking.update' | translate}}</button>
            <button nz-button nzType="primary" (click)="handleOk()">{{'roomBooking.print' | translate}}</button>
            <button nz-button nzType="primary" (click)="handleOk()">{{'roomBooking.pay' | translate}}</button>
            <button nz-button nzType="primary" (click)="handleOk()">{{'roomBooking.exit' | translate}}</button>
        </div>
      </ng-template>
</nz-modal>