<div class="info-option" [hidden]="hiddenAll">
    <button #infOption class="btn-custom">
      <img src="../../../assets/icon/info.svg" alt=""/>
      <!-- <span class="btn-admin">{{nameUser}}</span> -->
      <span class="btn-admin">Nguyễn Tiến Trung Kiên</span>
      <img src="./../../../assets/icon/arrow-up-short.svg" alt=""/>
    </button>
    <div class="btn-hide"  #toggleButton (click)="toggleMenu()"></div>
  
    <div [hidden]="!isMenuOpen" class="dropdown-option" #menu>
      <div class="item-option" (click)="hideOption('introduce')" data-bs-toggle="modal" data-bs-target="#introduce">
        {{'optionInfoAdmin.menu.introduce' | translate}}
      </div>
      <div class="item-option" [class.color-red]="languageCurrent === 'vi'" (click)="changeLanguage('vi')">
        {{'optionInfoAdmin.menu.vi' | translate}}
      </div>
      <div class="item-option" [class.color-red]="languageCurrent === 'en'" (click)="changeLanguage('en')">
        {{'optionInfoAdmin.menu.en' | translate}}
      </div>
      <div class="item-option change-pass" (click)="hideOption('changePassword')" data-bs-toggle="modal"
           data-bs-target="#changePassword"
           #openChangePass>
        {{'optionInfoAdmin.menu.changePassword' | translate}}</div>
      <div class="item-option" (click)="hideOption('accountSettings')" data-bs-toggle="modal"
           data-bs-target="#accountSettings">
        {{'optionInfoAdmin.menu.accountSettings' | translate}}</div>
      <div class="item-option" (click)="hideOption('logout')" data-bs-toggle="modal" data-bs-target="#logout">
        {{'optionInfoAdmin.menu.logout' | translate}}</div>
    </div>
  </div>
  
  <!-- Modal introduce -->
  <div class="modal fade modal-custom" id="introduce" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-bs-keyboard="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-size-18" id="introduceModalLabel">{{'optionInfoAdmin.labelIntroduction' | translate}} </h5>
          <button type="button" class="btn-close-modal" data-bs-dismiss="modal">
            <ng-container *ngTemplateOutlet="closeIcon"></ng-container>
          </button>
        </div>
        <div class="modal-body">
          <span>{{'optionInfoAdmin.introductionVersion' | translate}} </span>
          <div style="padding-top: 5px;">{{'optionInfoAdmin.introductionContent' | translate}}
          </div>
        </div>
        <div class="modal-footer" style="margin: auto">
          <button nz-button class="btn-cancel-introduce"
                  nzType="primary" type="button" data-bs-dismiss="modal">
            {{'optionInfoAdmin.btnExit' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal changePassword-->
  <div class="modal fade modal-custom" id="changePassword" tabindex="-1" aria-labelledby="exampleModalLabel"
       aria-hidden="true"
       data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-size-18" >{{'optionInfoAdmin.labelChangePassword' | translate}} </h5>
          <button type="button" #closePopup2 (click)="clearInput()" class="btn-close-modal" data-bs-dismiss="modal"
                  *ngIf="forgotPass === false && !passwordExpire">
            <ng-container *ngTemplateOutlet="closeIcon"></ng-container>
          </button>
        </div>
        <div class="modal-body pb-0" style="text-align: center">
          <form [formGroup]="formGroupPassword" [nzLayout]="'vertical'" nz-form class="form-changePassword">
  
            <nz-form-item>
              <nz-form-label style="font-size: 16px;">{{'optionInfoAdmin.labelUserName' | translate}}</nz-form-label>
              <nz-form-control>
                <input nz-input value="{{userName}}" [disabled]="true" [readOnly]="true"/>
              </nz-form-control>
            </nz-form-item>
            <!--          //reset pass -> khong hien thi mat khau cu-->
            <!-- <app-password-input
              [clickButton]="false"
              [label]="labelOldPassword"
              [maxLength]="50"
              [typePassword] = "'current'"
              *ngIf="forgotPass === false"
              (password)="oldPassword($event)"
              (blurEvent)="onBlur($event)"
            ></app-password-input> -->
            <!--                                (password)="oldPassword($event)" (blurEvent)="onBlur($event)" )></app-password-input>-->
            <!-- <app-password-input  [clickButton]="false" [label]="labelNewPassword" (password)="newpassword($event)"></app-password-input> -->
            <!-- <app-password-input  [clickButton]="false" [label]="labelPasswordRenew" (password)="renew_password($event)"></app-password-input> -->
            <div *ngIf="!forgotPass">
              <nz-form-item>
                <nz-form-label style="font-size: 16px;">{{'optionInfoAdmin.labelOldPassword' | translate}}<span
                      style="color: red;">&nbsp;*</span></nz-form-label>
                <nz-form-control
                  style="width: 100%!important;"
                  [nzErrorTip]="(validateOldPassword() ? (validateOldPass | translate) : '')"
                  class="user-item"
                >
                <!-- [class.data-validate]="validateOldPassword()" -->
                  <input
                    nz-input
                    appTrimSpace
                    [placeholder]=""
                    formControlName="oldPassword"
                    [type]="isShowPassword?'text':'password'"
                    maxlength="50"
                    (keyup)="removeAccents($event,'newPassword')"
                  />
                  <div class="show-pass" (click)="showPassword()" nz-tooltip
                       [nzTooltipTitle]="!isShowPassword ? ('auth.showPass' | translate) : ('auth.hidePass' | translate)">
                    <svg *ngIf="!isShowPassword" width="21" height="14" viewBox="0 0 21 19" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M20.9583 8.46221C20.135 6.3325 18.7056 4.49073 16.8469 3.16452C14.9883 1.83831 12.7817 1.0858 10.5 1C8.2183 1.0858 6.01174 1.83831 4.15306 3.16452C2.29438 4.49073 0.865039 6.3325 0.0417034 8.46221C-0.0139011 8.61601 -0.0139011 8.78443 0.0417034 8.93823C0.865039 11.0679 2.29438 12.9097 4.15306 14.2359C6.01174 15.5621 8.2183 16.3146 10.5 16.4004C12.7817 16.3146 14.9883 15.5621 16.8469 14.2359C18.7056 12.9097 20.135 11.0679 20.9583 8.93823C21.0139 8.78443 21.0139 8.61601 20.9583 8.46221ZM10.5 15.0004C6.78989 15.0004 2.86978 12.2493 1.44874 8.70022C2.86978 5.15112 6.78989 2.40004 10.5 2.40004C14.2101 2.40004 18.1302 5.15112 19.5513 8.70022C18.1302 12.2493 14.2101 15.0004 10.5 15.0004Z"
                        fill="#999999" />
                      <path
                        d="M10.5 4.5C9.66934 4.5 8.85729 4.74633 8.16659 5.20785C7.47588 5.66936 6.93754 6.32533 6.61964 7.0928C6.30175 7.86027 6.21857 8.70478 6.38063 9.51952C6.5427 10.3343 6.94272 11.0827 7.53012 11.6701C8.11751 12.2574 8.8659 12.6575 9.68065 12.8195C10.4954 12.9816 11.3399 12.8984 12.1074 12.5805C12.8748 12.2626 13.5308 11.7243 13.9923 11.0336C14.4538 10.3429 14.7002 9.53082 14.7002 8.70012C14.7002 7.58618 14.2577 6.51786 13.47 5.73019C12.6823 4.94251 11.614 4.5 10.5 4.5ZM10.5 11.5002C9.94624 11.5002 9.40488 11.336 8.94441 11.0283C8.48394 10.7206 8.12504 10.2833 7.91311 9.77166C7.70118 9.26002 7.64573 8.69701 7.75377 8.15385C7.86181 7.61069 8.12849 7.11176 8.52009 6.72016C8.91169 6.32857 9.41062 6.06188 9.95378 5.95384C10.4969 5.8458 11.0599 5.90125 11.5716 6.11318C12.0832 6.32511 12.5206 6.68401 12.8282 7.14448C13.1359 7.60495 13.3001 8.14632 13.3001 8.70012C13.3001 9.44275 13.0051 10.155 12.48 10.6801C11.9549 11.2052 11.2427 11.5002 10.5 11.5002Z"
                        fill="#999999" />
                    </svg>
                    <svg *ngIf="isShowPassword" width="21" height="14" viewBox="0 0 21 19" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M20.9583 8.46221C20.135 6.3325 18.7056 4.49073 16.8469 3.16452C14.9883 1.83831 12.7817 1.0858 10.5 1C8.2183 1.0858 6.01174 1.83831 4.15306 3.16452C2.29438 4.49073 0.865039 6.3325 0.0417034 8.46221C-0.0139011 8.61601 -0.0139011 8.78443 0.0417034 8.93823C0.865039 11.0679 2.29438 12.9097 4.15306 14.2359C6.01174 15.5621 8.2183 16.3146 10.5 16.4004C12.7817 16.3146 14.9883 15.5621 16.8469 14.2359C18.7056 12.9097 20.135 11.0679 20.9583 8.93823C21.0139 8.78443 21.0139 8.61601 20.9583 8.46221ZM10.5 15.0004C6.78989 15.0004 2.86978 12.2493 1.44874 8.70022C2.86978 5.15112 6.78989 2.40004 10.5 2.40004C14.2101 2.40004 18.1302 5.15112 19.5513 8.70022C18.1302 12.2493 14.2101 15.0004 10.5 15.0004Z"
                        fill="#999999"/>
                      <path
                        d="M10.5 4.5C9.66934 4.5 8.85729 4.74633 8.16659 5.20785C7.47588 5.66936 6.93754 6.32533 6.61964 7.0928C6.30175 7.86027 6.21857 8.70478 6.38063 9.51952C6.5427 10.3343 6.94272 11.0827 7.53012 11.6701C8.11751 12.2574 8.8659 12.6575 9.68065 12.8195C10.4954 12.9816 11.3399 12.8984 12.1074 12.5805C12.8748 12.2626 13.5308 11.7243 13.9923 11.0336C14.4538 10.3429 14.7002 9.53082 14.7002 8.70012C14.7002 7.58618 14.2577 6.51786 13.47 5.73019C12.6823 4.94251 11.614 4.5 10.5 4.5ZM10.5 11.5002C9.94624 11.5002 9.40488 11.336 8.94441 11.0283C8.48394 10.7206 8.12504 10.2833 7.91311 9.77166C7.70118 9.26002 7.64573 8.69701 7.75377 8.15385C7.86181 7.61069 8.12849 7.11176 8.52009 6.72016C8.91169 6.32857 9.41062 6.06188 9.95378 5.95384C10.4969 5.8458 11.0599 5.90125 11.5716 6.11318C12.0832 6.32511 12.5206 6.68401 12.8282 7.14448C13.1359 7.60495 13.3001 8.14632 13.3001 8.70012C13.3001 9.44275 13.0051 10.155 12.48 10.6801C11.9549 11.2052 11.2427 11.5002 10.5 11.5002Z"
                        fill="#999999"/>
                      <line x1="19.5303" y1="0.53033" x2="2.53033" y2="17.5303" stroke="#999999" stroke-width="1.5"/>
                    </svg>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div>
              <nz-form-item>
                <nz-form-label style="font-size: 16px;">{{'optionInfoAdmin.labelNewPassword' | translate}}<span
                    style="color: red;">&nbsp;*</span></nz-form-label>
                <nz-form-control
                  style="width: 100%!important;"
                  [nzErrorTip]="(validateNewPassword() ? (validateNewPass | translate) : '')"
                  class="user-item"
                >
                <!-- [class.data-validate]="validateNewPassword()" -->
                  <input
                    nz-input
                    appTrimSpace
                    [placeholder]=""
                    formControlName="newPassword"
                    [type]="isShowNewPassword?'text':'password'"
                    maxlength="50"
                    (keyup)="removeAccents($event,'newPassword')"
                  />
                  <div class="show-pass" (click)="showNewPassword()" nz-tooltip
                       [nzTooltipTitle]="!isShowNewPassword ? ('auth.showPass' | translate) : ('auth.hidePass' | translate)">
                    <svg *ngIf="!isShowNewPassword" width="21" height="14" viewBox="0 0 21 19" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M20.9583 8.46221C20.135 6.3325 18.7056 4.49073 16.8469 3.16452C14.9883 1.83831 12.7817 1.0858 10.5 1C8.2183 1.0858 6.01174 1.83831 4.15306 3.16452C2.29438 4.49073 0.865039 6.3325 0.0417034 8.46221C-0.0139011 8.61601 -0.0139011 8.78443 0.0417034 8.93823C0.865039 11.0679 2.29438 12.9097 4.15306 14.2359C6.01174 15.5621 8.2183 16.3146 10.5 16.4004C12.7817 16.3146 14.9883 15.5621 16.8469 14.2359C18.7056 12.9097 20.135 11.0679 20.9583 8.93823C21.0139 8.78443 21.0139 8.61601 20.9583 8.46221ZM10.5 15.0004C6.78989 15.0004 2.86978 12.2493 1.44874 8.70022C2.86978 5.15112 6.78989 2.40004 10.5 2.40004C14.2101 2.40004 18.1302 5.15112 19.5513 8.70022C18.1302 12.2493 14.2101 15.0004 10.5 15.0004Z"
                        fill="#999999" />
                      <path
                        d="M10.5 4.5C9.66934 4.5 8.85729 4.74633 8.16659 5.20785C7.47588 5.66936 6.93754 6.32533 6.61964 7.0928C6.30175 7.86027 6.21857 8.70478 6.38063 9.51952C6.5427 10.3343 6.94272 11.0827 7.53012 11.6701C8.11751 12.2574 8.8659 12.6575 9.68065 12.8195C10.4954 12.9816 11.3399 12.8984 12.1074 12.5805C12.8748 12.2626 13.5308 11.7243 13.9923 11.0336C14.4538 10.3429 14.7002 9.53082 14.7002 8.70012C14.7002 7.58618 14.2577 6.51786 13.47 5.73019C12.6823 4.94251 11.614 4.5 10.5 4.5ZM10.5 11.5002C9.94624 11.5002 9.40488 11.336 8.94441 11.0283C8.48394 10.7206 8.12504 10.2833 7.91311 9.77166C7.70118 9.26002 7.64573 8.69701 7.75377 8.15385C7.86181 7.61069 8.12849 7.11176 8.52009 6.72016C8.91169 6.32857 9.41062 6.06188 9.95378 5.95384C10.4969 5.8458 11.0599 5.90125 11.5716 6.11318C12.0832 6.32511 12.5206 6.68401 12.8282 7.14448C13.1359 7.60495 13.3001 8.14632 13.3001 8.70012C13.3001 9.44275 13.0051 10.155 12.48 10.6801C11.9549 11.2052 11.2427 11.5002 10.5 11.5002Z"
                        fill="#999999" />
                    </svg>
                    <svg *ngIf="isShowNewPassword" width="21" height="14" viewBox="0 0 21 19" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M20.9583 8.46221C20.135 6.3325 18.7056 4.49073 16.8469 3.16452C14.9883 1.83831 12.7817 1.0858 10.5 1C8.2183 1.0858 6.01174 1.83831 4.15306 3.16452C2.29438 4.49073 0.865039 6.3325 0.0417034 8.46221C-0.0139011 8.61601 -0.0139011 8.78443 0.0417034 8.93823C0.865039 11.0679 2.29438 12.9097 4.15306 14.2359C6.01174 15.5621 8.2183 16.3146 10.5 16.4004C12.7817 16.3146 14.9883 15.5621 16.8469 14.2359C18.7056 12.9097 20.135 11.0679 20.9583 8.93823C21.0139 8.78443 21.0139 8.61601 20.9583 8.46221ZM10.5 15.0004C6.78989 15.0004 2.86978 12.2493 1.44874 8.70022C2.86978 5.15112 6.78989 2.40004 10.5 2.40004C14.2101 2.40004 18.1302 5.15112 19.5513 8.70022C18.1302 12.2493 14.2101 15.0004 10.5 15.0004Z"
                        fill="#999999"/>
                      <path
                        d="M10.5 4.5C9.66934 4.5 8.85729 4.74633 8.16659 5.20785C7.47588 5.66936 6.93754 6.32533 6.61964 7.0928C6.30175 7.86027 6.21857 8.70478 6.38063 9.51952C6.5427 10.3343 6.94272 11.0827 7.53012 11.6701C8.11751 12.2574 8.8659 12.6575 9.68065 12.8195C10.4954 12.9816 11.3399 12.8984 12.1074 12.5805C12.8748 12.2626 13.5308 11.7243 13.9923 11.0336C14.4538 10.3429 14.7002 9.53082 14.7002 8.70012C14.7002 7.58618 14.2577 6.51786 13.47 5.73019C12.6823 4.94251 11.614 4.5 10.5 4.5ZM10.5 11.5002C9.94624 11.5002 9.40488 11.336 8.94441 11.0283C8.48394 10.7206 8.12504 10.2833 7.91311 9.77166C7.70118 9.26002 7.64573 8.69701 7.75377 8.15385C7.86181 7.61069 8.12849 7.11176 8.52009 6.72016C8.91169 6.32857 9.41062 6.06188 9.95378 5.95384C10.4969 5.8458 11.0599 5.90125 11.5716 6.11318C12.0832 6.32511 12.5206 6.68401 12.8282 7.14448C13.1359 7.60495 13.3001 8.14632 13.3001 8.70012C13.3001 9.44275 13.0051 10.155 12.48 10.6801C11.9549 11.2052 11.2427 11.5002 10.5 11.5002Z"
                        fill="#999999"/>
                      <line x1="19.5303" y1="0.53033" x2="2.53033" y2="17.5303" stroke="#999999" stroke-width="1.5"/>
                    </svg>
                  </div>
                </nz-form-control>
              </nz-form-item>
  
            </div>
  
            <div class="input-password">
              <nz-form-item>
                <nz-form-label style="font-size: 16px;">{{'optionInfoAdmin.labelPasswordRenew' | translate}}<span
                    style="color: red;">&nbsp;*</span></nz-form-label>
                <nz-form-control
                  style="width: 100%!important;"
                  [nzErrorTip]="
                    validateConfirmPassword() ? (validatePass | translate) : ''
                  "
                  class="user-item"
                >
                <!-- [class.data-validate]="validateConfirmPassword()" -->
                  <input
                    nz-input
                    appTrimSpace
                    [placeholder]=""
                    formControlName="rePassword"
                    [type]="isShowAgainNewPassword?'text':'password'"
                    maxlength="50"
                    (keyup)="removeAccents($event,'rePassword')"
                  />
                  <div class="show-pass" (click)="showAgainNewPassword()" nz-tooltip
                       [nzTooltipTitle]="!isShowAgainNewPassword ? ('auth.showPass' | translate) : ('auth.hidePass' | translate)">
                    <svg *ngIf="!isShowAgainNewPassword" width="21" height="14" viewBox="0 0 21 19" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M20.9583 8.46221C20.135 6.3325 18.7056 4.49073 16.8469 3.16452C14.9883 1.83831 12.7817 1.0858 10.5 1C8.2183 1.0858 6.01174 1.83831 4.15306 3.16452C2.29438 4.49073 0.865039 6.3325 0.0417034 8.46221C-0.0139011 8.61601 -0.0139011 8.78443 0.0417034 8.93823C0.865039 11.0679 2.29438 12.9097 4.15306 14.2359C6.01174 15.5621 8.2183 16.3146 10.5 16.4004C12.7817 16.3146 14.9883 15.5621 16.8469 14.2359C18.7056 12.9097 20.135 11.0679 20.9583 8.93823C21.0139 8.78443 21.0139 8.61601 20.9583 8.46221ZM10.5 15.0004C6.78989 15.0004 2.86978 12.2493 1.44874 8.70022C2.86978 5.15112 6.78989 2.40004 10.5 2.40004C14.2101 2.40004 18.1302 5.15112 19.5513 8.70022C18.1302 12.2493 14.2101 15.0004 10.5 15.0004Z"
                        fill="#999999" />
                      <path
                        d="M10.5 4.5C9.66934 4.5 8.85729 4.74633 8.16659 5.20785C7.47588 5.66936 6.93754 6.32533 6.61964 7.0928C6.30175 7.86027 6.21857 8.70478 6.38063 9.51952C6.5427 10.3343 6.94272 11.0827 7.53012 11.6701C8.11751 12.2574 8.8659 12.6575 9.68065 12.8195C10.4954 12.9816 11.3399 12.8984 12.1074 12.5805C12.8748 12.2626 13.5308 11.7243 13.9923 11.0336C14.4538 10.3429 14.7002 9.53082 14.7002 8.70012C14.7002 7.58618 14.2577 6.51786 13.47 5.73019C12.6823 4.94251 11.614 4.5 10.5 4.5ZM10.5 11.5002C9.94624 11.5002 9.40488 11.336 8.94441 11.0283C8.48394 10.7206 8.12504 10.2833 7.91311 9.77166C7.70118 9.26002 7.64573 8.69701 7.75377 8.15385C7.86181 7.61069 8.12849 7.11176 8.52009 6.72016C8.91169 6.32857 9.41062 6.06188 9.95378 5.95384C10.4969 5.8458 11.0599 5.90125 11.5716 6.11318C12.0832 6.32511 12.5206 6.68401 12.8282 7.14448C13.1359 7.60495 13.3001 8.14632 13.3001 8.70012C13.3001 9.44275 13.0051 10.155 12.48 10.6801C11.9549 11.2052 11.2427 11.5002 10.5 11.5002Z"
                        fill="#999999" />
                    </svg>
                    <svg *ngIf="isShowAgainNewPassword" width="21" height="14" viewBox="0 0 21 19" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M20.9583 8.46221C20.135 6.3325 18.7056 4.49073 16.8469 3.16452C14.9883 1.83831 12.7817 1.0858 10.5 1C8.2183 1.0858 6.01174 1.83831 4.15306 3.16452C2.29438 4.49073 0.865039 6.3325 0.0417034 8.46221C-0.0139011 8.61601 -0.0139011 8.78443 0.0417034 8.93823C0.865039 11.0679 2.29438 12.9097 4.15306 14.2359C6.01174 15.5621 8.2183 16.3146 10.5 16.4004C12.7817 16.3146 14.9883 15.5621 16.8469 14.2359C18.7056 12.9097 20.135 11.0679 20.9583 8.93823C21.0139 8.78443 21.0139 8.61601 20.9583 8.46221ZM10.5 15.0004C6.78989 15.0004 2.86978 12.2493 1.44874 8.70022C2.86978 5.15112 6.78989 2.40004 10.5 2.40004C14.2101 2.40004 18.1302 5.15112 19.5513 8.70022C18.1302 12.2493 14.2101 15.0004 10.5 15.0004Z"
                        fill="#999999"/>
                      <path
                        d="M10.5 4.5C9.66934 4.5 8.85729 4.74633 8.16659 5.20785C7.47588 5.66936 6.93754 6.32533 6.61964 7.0928C6.30175 7.86027 6.21857 8.70478 6.38063 9.51952C6.5427 10.3343 6.94272 11.0827 7.53012 11.6701C8.11751 12.2574 8.8659 12.6575 9.68065 12.8195C10.4954 12.9816 11.3399 12.8984 12.1074 12.5805C12.8748 12.2626 13.5308 11.7243 13.9923 11.0336C14.4538 10.3429 14.7002 9.53082 14.7002 8.70012C14.7002 7.58618 14.2577 6.51786 13.47 5.73019C12.6823 4.94251 11.614 4.5 10.5 4.5ZM10.5 11.5002C9.94624 11.5002 9.40488 11.336 8.94441 11.0283C8.48394 10.7206 8.12504 10.2833 7.91311 9.77166C7.70118 9.26002 7.64573 8.69701 7.75377 8.15385C7.86181 7.61069 8.12849 7.11176 8.52009 6.72016C8.91169 6.32857 9.41062 6.06188 9.95378 5.95384C10.4969 5.8458 11.0599 5.90125 11.5716 6.11318C12.0832 6.32511 12.5206 6.68401 12.8282 7.14448C13.1359 7.60495 13.3001 8.14632 13.3001 8.70012C13.3001 9.44275 13.0051 10.155 12.48 10.6801C11.9549 11.2052 11.2427 11.5002 10.5 11.5002Z"
                        fill="#999999"/>
                      <line x1="19.5303" y1="0.53033" x2="2.53033" y2="17.5303" stroke="#999999" stroke-width="1.5"/>
                    </svg>
                  </div>
                </nz-form-control>
              </nz-form-item>
  
            </div>
          </form>
        </div>
        <div class="modal-footer" style="margin: auto">
          <button id="openModalVerifyOtp" [hidden]="true" nz-button data-bs-toggle="modal"
                  data-bs-target="#modalVerifyOtpChangPassword" data-bs-dismiss="modal">Open Modal verify OTP
          </button>
          <button #closePopupChangePassword [hidden]="true" id="closeChangePass" nz-button
                  data-bs-dismiss="modal"></button>
          <button (click)="clearInput()" class="btn-action-delete" nz-button
                   nzType="primary"
                  data-bs-dismiss="modal"
                  *ngIf="passwordExpire === false  && forgotPass === false">
            {{'optionInfoAdmin.btnCancel' | translate}}
          </button>
          <button nz-button  nzType="primary" type="button" (click)="verifyPassword()"
            readonly>
            {{'optionInfoAdmin.btnChangePassword' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <nz-modal
    [(nzVisible)]="showLogout"
    nzTitle="{{'optionInfoAdmin.labelLogout' | translate}}"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="confirmLogout()"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
  >
    <ng-template #modalContent>
      {{'optionInfoAdmin.textLogout' | translate}}
    </ng-template>
    <ng-template #modalFooter>
      <div class="d-flex justify-content-center">
        <button style="color: #FFF;" class="btn-cancel" nz-button nzType="default" (click)="handleCancel()">Hủy</button>
        <button nz-button nzType="primary" (click)="confirmLogout()">Đăng xuất</button>
      </div>
    </ng-template>
  </nz-modal>

  <ng-template #XIcon>
    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M10.192 0.677002L5.94897 4.95341L1.70697 0.677002L0.292969 2.10247L4.53497 6.37888L0.292969 10.6553L1.70697 12.0808L5.94897 7.80435L10.192 12.0808L11.606 10.6553L7.36397 6.37888L11.606 2.10247L10.192 0.677002Z"
        fill="black" />
    </svg>
  </ng-template>

  <!-- Modal logout -->
  <div class="modal fade modal-custom" id="logout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-bs-keyboard="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-size-18">{{'optionInfoAdmin.labelLogout' | translate}}</h5>
          <button type="button" class="btn-close-modal" data-bs-dismiss="modal">
            <ng-container *ngTemplateOutlet="closeIcon"></ng-container>
          </button>
        </div>
        <div class="modal-body">
          <span>{{'optionInfoAdmin.textLogout' | translate}}</span>
        </div>
        <div class="modal-footer" style="margin: auto">
          <button type="button" class="btn-cancel btn-action-delete" nz-button 
                  nzType="primary"
                  data-bs-dismiss="modal">
            {{'optionInfoAdmin.btnCancel' | translate}}
          </button>
          <button nz-button class="" 
                  nzType="primary" type="button" data-bs-dismiss="modal" (click)="logout()">
            {{'optionInfoAdmin.btnConfirm' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal confirm otp change_password -->
  <div class="modal fade modal-custom" id="modalVerifyOtpChangPassword" tabindex="-1" aria-labelledby="exampleModalLabel"
       aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog form-item p-0" [class.google-authen]="type2FA !== 'Email' && type2FA !== 'SMS'" style="max-width: 550px">
      <div class="modal-content border-0">
        <div class="modal-header bg-white">
          <!-- <h5 class="modal-title">{{'otp.fill-otp' | translate}}</h5> -->
          <button type="button" class="btn-close-modal" data-bs-dismiss="modal" (click)="cancelOtp()" style="margin-left: auto;">
            <ng-container *ngTemplateOutlet="closeIcon"></ng-container>
          </button>
        </div>
        <div class="modal-body pb-0" style="text-align: left">
          <div class="header">
            <div class="otpCode-form-logo">
              <div>
                <img src="./../../../../assets/icons/icon/CMS/logo2.svg" alt=""/>
              </div>
              <div class="otpCode-form-title">
                <!--        <h5><strong>{{ title }} </strong></h5>-->
                <h5><strong>{{ 'otp.fill-otp' | translate}} </strong></h5>
              </div>
            </div>
          </div>
  
          <!--  email-->
          <div class="notif" *ngIf="type2FA === 'Email'">
            <div>{{'otp.email.notif1' | translate}} <span style="color: #EE0033;">{{this.handleEmail()}}</span>.</div>
            <div>{{'otp.email.notif2' | translate}} </div>
          </div>
  
          <!--  phone-->
          <div class="notif" *ngIf="type2FA === 'SMS'">
            <div>{{'otp.phone.notif1' | translate}} <span style="color: #EE0033;">{{this.handlePhone()}}</span>.</div>
            <div>{{'otp.phone.notif2' | translate}} </div>
          </div>
  
          <div class="form-otp-code">
            <form [formGroup]="formGroupVerify" [nzLayout]="'horizontal'" nz-form>
              <div class="form-input">
                <div class="row">
                  <div class="col col-sm-12">
                    {{'otp.label' | translate}}<span style="color: red;">*</span>
                  </div>
                  <div class="col col-sm-8">
                    <nz-form-item>
                      <nz-form-control class="input-otpCode">
                        <!--                <nz-form-label>{{'otp.label' | translate}} </nz-form-label>-->
                        <input nz-input name="otp_Code"  formControlName="otpCode"
                               [class.data-validate]="formGroupVerify.get('otpCode')?.invalid &&
                                formGroupVerify.get('otpCode')?.touched" style="padding: 10px 16px;"/>
                        <div *ngIf="formGroupVerify.get('otpCode')?.invalid &&
                                formGroupVerify.get('otpCode')?.touched" style="color: red;">
                          {{'otp.required' | translate}}
                        </div>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div class="col col-sm-4">
                    <div class="btn-confirm">
                      <button id="openModalChangePassword" [hidden]="true" nz-button data-bs-toggle="modal"
                        data-bs-target="#changePassword">Open Modal ChangePassword
                      </button>
                      <button id="closeModalOTP" data-bs-dismiss="modal" [hidden]="true" nz-button data-bs-toggle="modal">close Modal
                        OTP
                      </button>
                      <button style="min-width: 120px;" nz-button  nzType="primary" readonly type="button"> {{'optionInfoAdmin.btnConfirm' | translate}} </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-form" *ngIf="(type2FA === 'SMS' || type2FA === 'Email')">
                <div class="row">
                  <div class="col col-sm-8">
                    <div class="count-down">{{'otp.exp'|translate}}  <span
                      style="color: #EE0033; font-size: 25px;">{{display}}</span> {{'otp.minute'|translate}}</div>
                    <div *ngIf="checkWarning" style="color: #EE0033;">{{'optionInfoAdmin.warning' | translate}}</div>
                  </div>
                  <div class="col col-sm-4">
                    <div class="btn-confirm">
                      <button style="min-width: 120px;" [disabled]="!isSend_Again" nz-button  nzType="primary"
                            >{{'button.resend' | translate}} </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
  
          <div class="row d-none">
            <div class="col col-sm-4 d-flex">
              <nz-form-label class="text-wrap">{{'otp.label' | translate}} </nz-form-label>
            </div>
            <div class="col col-sm-8">
              <form [formGroup]="formGroupVerify" [nzLayout]="'horizontal'" nz-form>
                <nz-form-item>
                  <nz-form-control class="input-otpCode">
                    <!--                <nz-form-label>{{'otp.label' | translate}} </nz-form-label>-->
                    <input nz-input name="otp_Code"  formControlName="otpCode"
                           [class.data-validate]="formGroupVerify.get('otpCode')?.invalid &&
                            formGroupVerify.get('otpCode')?.touched"/>
                    <div *ngIf="formGroupVerify.get('otpCode')?.invalid &&
                            formGroupVerify.get('otpCode')?.touched" style="color: red;">
                      {{'otp.required' | translate}}
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </div>
          </div>
        </div>
        <!-- <div class="modal-footer" style="margin: auto">
          <button id="openModalChangePassword" [hidden]="true" nz-button data-bs-toggle="modal"
                  data-bs-target="#changePassword">Open Modal ChangePassword
          </button>
          <button id="closeModalOTP" data-bs-dismiss="modal" [hidden]="true" nz-button data-bs-toggle="modal">close Modal
            OTP
          </button>
          <button nz-button  nzType="primary" readonly
                  type="button" (click)="confirmOtp()">
            {{'optionInfoAdmin.btnConfirm' | translate}}
          </button>
        </div> -->
      </div>
    </div>
  </div>
  
  <!-- Modal notification password expire  -->
  <div class="modal fade modal-custom" id="timeUpdatePassword" tabindex="-1" aria-labelledby="exampleModalLabel"
       aria-hidden="true"
       data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-size-18">{{'optionInfoAdmin.labelChangePasswordByTime' | translate}} </h5>
          <button *ngIf="!passwordExpire" type="button" class="btn-close-modal" data-bs-dismiss="modal" (click)="removeTimeUpdate()">
            <ng-container *ngTemplateOutlet="closeIcon"></ng-container>
          </button>
        </div>
        <!-- <div class="modal-body">
          <span *ngIf="passwordExpire === false">{{contentCheckTimePassword}}
            <strong>{{userId}}</strong>{{contentCheckTimePassword1}}<Strong>{{days}}</Strong>{{contentCheckTimePassword2}}</span>
          <span *ngIf="passwordExpire === true">{{contentCheckTimePassword}}
            <strong>{{userId}}</strong>{{contentCheckTimePassword1}}</span>
        </div> -->
        <div class="modal-body">
          <span style="font-size: 16px" *ngIf="!passwordExpire" [innerHTML]="'optionInfoAdmin.contentCheckTimePassword' | translate:{ username: userId, day: days}"></span>
          <span style="font-size: 16px"  *ngIf="passwordExpire" [innerHTML]="'optionInfoAdmin.contentCheckTimePassword1' | translate:{ username: userId}"></span>
        </div>
        <div class="modal-footer" style="margin: auto">
          <button id="openChangePassword" [hidden]="true" nz-button data-bs-toggle="modal"
                  data-bs-target="#changePassword">Open Modal ChangePassword
          </button>
          <button id="openTimeUpdatePassword" [hidden]="true" nz-button data-bs-toggle="modal"
                  data-bs-target="#timeUpdatePassword">Open Modal timeUpdatePassword
          </button>
          <button type="button" id="btn-cancel-expire" class="btn-cancel-expire btn-action-delete" nz-button
                  
                  nzType="primary"
                  *ngIf="!passwordExpire"
                  data-bs-dismiss="modal" (click)="removeTimeUpdate()">
            {{'optionInfoAdmin.btnCancel' | translate}}
          </button>
          <button nz-button class="btn-cancel-expire1 " 
                  nzType="primary" type="button" data-bs-dismiss="modal" (click)="showModalChangePassword()">
            {{'optionInfoAdmin.labelChangePassword1' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #closeIcon>
    <svg
      width="12"
      height="13"
      viewBox="0 0 12 13"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10.192 0.677002L5.94897 4.95341L1.70697 0.677002L0.292969 2.10247L4.53497 6.37888L0.292969 10.6553L1.70697 12.0808L5.94897 7.80435L10.192 12.0808L11.606 10.6553L7.36397 6.37888L11.606 2.10247L10.192 0.677002Z"
        fill="black"
      />
    </svg>
  </ng-template>
  