<div class="info-option" [hidden]="hiddenAll">
    <button #infOption class="btn-custom">
      <img src="../../../assets/icon/info.svg" alt=""/>
      <span class="btn-admin">{{fullName}}</span>
    </button>
    <div class="btn-hide"  #toggleButton (click)="toggleMenu()"></div>

    <div [hidden]="!isMenuOpen" class="dropdown-option" #menu>
      <div class="item-option" [class.color-red]="languageCurrent === 'vi'" (click)="changeLanguage('vi')">
        {{'optionInfoAdmin.menu.vi' | translate}}
      </div>
      <div class="item-option" [class.color-red]="languageCurrent === 'en'" (click)="changeLanguage('en')">
        {{'optionInfoAdmin.menu.en' | translate}}
      </div>
      <div class="item-option change-pass" (click)="hideOption('changePassword')" data-bs-toggle="modal"
           data-bs-target="#changePassword"
           #openChangePass>
        {{'optionInfoAdmin.menu.changePassword' | translate}}</div>
      <div class="item-option" (click)="hideOption('logout')" data-bs-toggle="modal" data-bs-target="#logout">
        {{'optionInfoAdmin.menu.logout' | translate}}</div>
    </div>
  </div>

  <nz-modal
    [(nzVisible)]="showLogout"
    nzTitle="{{'optionInfoAdmin.labelLogout' | translate}}"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="confirmLogout()"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
  >
    <ng-template #modalContent>
      {{'optionInfoAdmin.textLogout' | translate}}
    </ng-template>
    <ng-template #modalFooter>
      <div class="d-flex justify-content-center">
        <button style="color: #FFF;" class="btn-cancel" nz-button nzType="default" (click)="handleCancel()">Hủy</button>
        <button nz-button nzType="primary" (click)="confirmLogout()">Đăng xuất</button>
      </div>
    </ng-template>
  </nz-modal>

  <ng-template #XIcon>
    <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M10.192 0.677002L5.94897 4.95341L1.70697 0.677002L0.292969 2.10247L4.53497 6.37888L0.292969 10.6553L1.70697 12.0808L5.94897 7.80435L10.192 12.0808L11.606 10.6553L7.36397 6.37888L11.606 2.10247L10.192 0.677002Z"
        fill="black" />
    </svg>
  </ng-template>

  <!-- Modal logout -->
  <div class="modal fade modal-custom" id="logout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-bs-keyboard="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-size-18">{{'optionInfoAdmin.labelLogout' | translate}}</h5>
          <button type="button" class="btn-close-modal" data-bs-dismiss="modal">
            <ng-container *ngTemplateOutlet="closeIcon"></ng-container>
          </button>
        </div>
        <div class="modal-body">
          <span>{{'optionInfoAdmin.textLogout' | translate}}</span>
        </div>
        <div class="modal-footer" style="margin: auto">
          <button type="button" class="btn-cancel btn-action-delete" nz-button
                  nzType="primary"
                  data-bs-dismiss="modal">
            {{'optionInfoAdmin.btnCancel' | translate}}
          </button>
          <button nz-button class=""
                  nzType="primary" type="button" data-bs-dismiss="modal" (click)="logout()">
            {{'optionInfoAdmin.btnConfirm' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #closeIcon>
    <svg
      width="12"
      height="13"
      viewBox="0 0 12 13"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10.192 0.677002L5.94897 4.95341L1.70697 0.677002L0.292969 2.10247L4.53497 6.37888L0.292969 10.6553L1.70697 12.0808L5.94897 7.80435L10.192 12.0808L11.606 10.6553L7.36397 6.37888L11.606 2.10247L10.192 0.677002Z"
        fill="black"
      />
    </svg>
  </ng-template>
